.p1 {
    min-height: 150px;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 3px;
    background-color: rgb(235, 230, 230);
}