<div class="p3-wrapper">
    <div class="p3">
        <div class="social-icons">
            <img src="/assets/check2.svg">
            <img src="/assets/check2.svg">
            <img src="/assets/check2.svg">
            <img ssr="/assets/check2.svg">
        </div>
        <div class="social-icons">
            <span>H&M</span>
            <span>Fb</span>
            <span>H&M</span>
            <span>H&M</span>
        </div>
        <div class="social-icons"
       
    >
            <img src="/assets/check2.svg">
            <img src="/assets/check2.svg">
            <img src="/assets/check2.svg">
        </div>
        <div class="social-icons">
            <span>H&M</span>
            <span>Fb</span>
            <span>H&M</span>
        </div>
    </div>
   
</div>