<div class="p3-wrapper">
    <div class="p3">
        <div class="p3__social-group">
            <div class="social-icons"  *ngFor="let item of socialData">
                <!-- <img src="{{item.image}}" matTooltip="item.hint"> -->
                <img src="{{item.image}}">
                <span>{{item.name}}</span>
            </div>
        </div>
        
        <div class="p3__social-group">
            <div class="social-icons"  *ngFor="let item of socialData1">
                <img src="{{item.image}}" >
                <span>{{item.name}}</span>
            </div>
        </div>
    </div>
</div>